-- Script ─æß╗â sß╗¡a encoding cho database
-- Chß║íy script n├áy ─æß╗â ─æß║úm bß║úo database sß╗¡ dß╗Ñng UTF-8

-- Kiß╗âm tra v├á thay ─æß╗òi charset cß╗ºa database
ALTER DATABASE quanlytoanha CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- Kiß╗âm tra v├á sß╗¡a charset cß╗ºa bß║úng maintenance
ALTER TABLE maintenance CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- Sß╗¡a c├íc cß╗Öt text trong bß║úng maintenance
ALTER TABLE maintenance MODIFY COLUMN description TEXT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
ALTER TABLE maintenance MODIFY COLUMN notes TEXT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
ALTER TABLE maintenance MODIFY COLUMN system_type VARCHAR(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
ALTER TABLE maintenance MODIFY COLUMN maintenance_type VARCHAR(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
ALTER TABLE maintenance MODIFY COLUMN status VARCHAR(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
ALTER TABLE maintenance MODIFY COLUMN priority VARCHAR(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- Kiß╗âm tra charset hiß╗çn tß║íi
SHOW CREATE DATABASE quanlytoanha;
SHOW CREATE TABLE maintenance;

