-- Xóa dữ liệu cũ
DELETE FROM apartment;

-- Nhập dữ liệu mới
-- Lưu ý: floor_number, building_block, status sẽ được thêm sau bằng UPDATE

-- Cập nhật floor_number, building_block, status dựa trên apartment_no (nếu các cột đã tồn tại)
-- Lưu ý: Nếu các cột chưa tồn tại, câu lệnh này sẽ bị bỏ qua tự động
-- UPDATE apartment SET floor_number = CAST(SUBSTRING(apartment_no, 1, 2) AS UNSIGNED), 
--                      building_block = SUBSTRING(apartment_no, 3, 1),
--                      status = CASE WHEN resident_owner_id IS NOT NULL THEN 'OCCUPIED' ELSE 'VACANT' END;
